<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Book</title>
</head>
<body>
		<h1>Add a new Book</h1>
		<div>
	<form action="#" th:action="@{/newbook}"  th:object= ${book} method="post">
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
							
		<label for="catlist">Category</label>
		<select id="catlist" th:field="*{category}" class="form-control">
		       	<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    </select>
	
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
	</div>
</body>
</html>